<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link rel="stylesheet" href="/reja.css" />
    <style></style>
  </head>
  <body style="background-color: rgb(197, 166, 120)">
    <div class="container">
      <h1 class="header" style="font-weight: 500">REJA VA MAQSADLAR</h1>
      <form id="create-form" class="form" action="/create-item" method="POST">
        <div>
          <input autofocus class="reja_input" type="text" name="rejalar" />
          <button class="btn">Yangi Reja Qo'shish</button>
        </div>
      </form>

      <ul class="rejalar_container">
        <% items.map(item=>{ %>
        <li class="rejalar_list">
          <span><%= item.reja %></span>
          <div class="crud_btn_container">
            <button data_id="<%= item._id%>" class="btn edit-me">
              O'zgartirish
            </button>
            <button data_id="<%= item._id%>" class="btn delete-me">
              O'chirish
            </button>
          </div>
        </li>
        <% }) %>
      </ul>
      <button
        style="margin-top: 20px; color: rgb(255, 94, 0); font-weight: 600"
        class="btn"
      >
        Hamma Rejalarni O'chirish
      </button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
  </body>
</html>

<!-- This input works because of: app.use(express.urlencoded({extended:true})) -->
